.modal{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
    padding: 0;
    font-family: "League Gothic", sans-serif;
    height: 100%;
    


}

.modal::backdrop{
    background: rgba(0,0,0,0.6);
}

.saiba{
    color: rgb(0, 0, 0);
    font-size: 13px;
    max-height: 80vh;
    width: min(90vw, 420px);
    background: rgb(208, 255, 0);
    border-radius: 19px;
    padding: 24px;
    box-shadow: 10px 10px 45px black;
    overflow: auto;
}

.modal .saiba h1{
    text-shadow: 7px 7px 15px rgba(0, 0, 0, 0.527);
    text-align: center;
    
}

